<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">

            <!-- inline variable: adding 'active' with class and text ejs -->
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/addProducts' ? 'active' : '' %>" href="/admin/addProducts">Add Product</a></li>
        </ul>
    </nav>
</header>