<!DOCTYPE html>

//- Every single varibles from 'res.render' will pass through this main-layout.put first!!!!

#{console.log('path; ', path, ' docTitle: ', docTitle)}
//- .active (I meant "class" ) can be specified like "class='path'" in an "attribute bracket"

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{ docTitle }
        block styles
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/" class=(path==='/' ? 'active' : '')) Shop
                    li.main-header__item
                        a(href="/admin/addProducts" class=(path === '/admin/addProducts' ? 'active' : '')) Add Products
        block content