{{!-- Indentation is not matter --}}
{{!-- <!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ docTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/addProducts">Add Product</a></li>
            </ul>
        </nav>
    </header> --}}


    {{!-- It gets into {{{ body }}} in main-layout.hbs--}}
    <main>
        {{!-- start loop or js function --}}
        {{!-- handlebars does not support the method like "products.length > 0" --}}
        {{!-- {{# if products.length > 0 }} --}}
        {{#if hasProducts }}
            <div class="grid">
                {{#each products}}
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">{{ this }}</h1>
                    </header>
                    <div class="card__image">
                        <img src="http://ichef.bbci.co.uk/wwfeatures/live/624_351/images/live/p0/2v/dp/p02vdpfn.jpg" alt="books">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$19.99</h2>
                        <p class="product__description">A very interesting book about so many even more interestin things!</p>
                    </div>
                    <div class="card__actions">
                        <button type="submit" class="btn">Add To Cart</button>
                    </div>
                </article>
                {{/each}}
            </div>
            {{!-- no hashmark here --}}
        {{ else }}
            <h1>No Products!!</h1>
        {{!-- finish if statement --}}
        {{/if }}
    </main>
{{!-- </body> --}}

